<div class="row" id="girl_list"></div>

<script id="girl-image-template" type="text/x-handlebars-template">
    \{{#each images}}
    <div class="col-md-3 col-sm-6 col-12 girl_item">
      <img src=\{{imageUrl}} alt="\{{posterTitle}}" class="img-fluid">
       <h4>\{{posterTitle}}</h4>
    </div>
    \{{/each}}
</script>

<script src="/js/home.js"></script>
