<html>
 <head>
  <style type="text/css">
   .inline {
    float: left;
    border: 1px solid red;
    margin:10px;
    }
  </style>
 </head>
 <body>
  <div class="row">
   <div class='col-md-6 inline'><div>I'm here djafhdskjafjkdsfakldjl kdfjalkdsjfkldjfkjdsafjlk lkdfjaljflkdsj</div></div>
   <div class='col-md-6 inline'><div>I'm follow djafhdskjafjkdsfakldjl kdfjalkdsjfkldjfkjdsafjlk lkdfjaljflkdsj</div></div>
  </div>
 </body>
</html>
