header {
  background-color: #FFFDDD;
  padding: 15px 0;
}

body {
    background: #fffeee;
}

.search input{
  display: block;
  width: 100%;
  border: 1px solid #cecece;
}

.search .fa {
  position: absolute;
  right: 28px;
  transform: translate(0,-150%);
}

.profile button{
  float: left;
  width: 38px;
  height: 38px;
  border: 0;
  border-right: 1px solid #cecece;
}

.profile p {
  margin-left: 80px;
  white-space: nowrap;
  padding: 7px 0;
}


.profile button:hover {
  background: #999999;
  cursor: pointer;
}

.profile button:active {
  background: #999999;
  cursor: pointer;
}

.text-center {
  text-align: center;
}
